

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 1400px;
  margin: auto;
  line-height: 19px;

}
header {
  width: 100%;
  height: 100%;
  }
 
.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}



form input[type="text"],
form input[type="email"] {
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}



form input[type="checkbox"]{
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
button {
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  margin: auto;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 8px 8px 8px 8px;
  display:block;
  margin:auto;
}

button:hover {
  background: rgb(0, 0, 0);
  color: #b5b5b5;
}

  .footer {
  background-color: #b5b5b5;
  width: 100%;
padding: 10px;  
height: 50px;
display: flex;
  justify-content: center;
  align-items: center;

}

  .logo {
    width: 30px;
    height: 30px;
    padding: 20px;
    float: left;
  }

  .nav1 ul li {
    float: right;
  }
 
  .nav2 ul {
  text-align: center;
}

.nav2 li {
  float: none !important;
  display: inline-block;
}
 
  nav ul {
    list-style: none;
    overflow: hidden; 
  }


  nav ul li a {
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;

  }
  nav ul li:hover {
    text-decoration:  overline ;
    font-weight: bold;

  }
 
  .contacto {
    position: relative;
    display: inline-block;
    width: 1240px;
    height: 200px;
  }

 
  .contacto2 {
position: absolute;
top: 50%;
left: 50%;

  }

  .imag-fondo {
  width: auto;
    }


 h1  {
  font-size: 50px;
   color: aliceblue;
      
}

h2  {
  font-size: 30px;
  text-align: center;
    
}

h3 
{
text-decoration: underline;   
}


.datos-personales, .formacion, .intro  {
background-color:#f6f6f6;
padding-left: 50px;
padding-top: 10px;
padding-bottom: 20px;
  }

.experiencia, .idiomas {
padding-left: 50px;
padding-top: 10px;
padding-bottom: 20px;
      }

.experiencia1 {
width: 50%;
height: 100%;
padding-right: 5%;
float:left;
top: 50%;
left: 50%;
}

.experiencia2 {
padding-right: 5%;
top: 50%;
left: 50%;
}

.formacion {
  clear:both;
  height: 100%;
}

table {
  border-spacing: 30px;
  text-align: center;
  
}

.datos-personales {
  text-align: center;
}

